body {
  padding: 0;
  margin: 0;
  background-color: #ffeecf;
  padding-bottom: 50px;
  background-size: 800px auto;
  background-repeat: repeat;
}

/* Cactus Butt Logo */
img {
  background-size: contain;
  background-position: center;
}

.indent {
  margin-inline-start: 32px;
  /* This gives a slight indent into the content on the page ignore atom error */
}

/* Header Section */
header {
  display: flex;
  justify-content: center;
  padding: 16px 32px;
}

.social-links {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 16px;
  height: 53px;
  align-items: center;
  left: 0;
  top: 0;
  padding: 8px;
  font-size: 28px;
  color: #DF80B4;
}

.social-links a {
  color: inherit;
}

.theme-controls {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  grid-gap: 16px;
  height: 53px;
  align-items: center;
  top: 0;
  right: 0;
  padding: 8px;
  font-size: 32px;
  color: #DF80B4;
}

.theme-controls input {
  display: none;
}

.theme-controls label {
  cursor: pointer;
}

.theme-controls input+*[data-icon] {
  opacity: 0.4;
  /* for when the icon isn't selected it's faded next to other icon */
}

/* Select the active theme button/icon */
.theme-controls input:checked+*[data-icon] {
  color: #06A64F;
  opacity: 1;
}

/* Header Section Ends */
/* Welcome Section */
.welcome {
  display: flex;
  font-family: 'Gochi Hand', cursive;
  font-size: 35px;
  margin: 0 auto;
  width: fit-content;
}

.welcome p {
  margin: 8px 0;
}

.about {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 0 8px;
  border-bottom: 2px solid #019547;
}

/* Welcome Section Ends */
/* Cactus Info Card Section */
section {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}

#card-container {
  display: grid;
  grid-template-columns: minmax(300px, 500px);
  justify-content: center;
}

.card {
  position: relative;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 250px;
  overflow: hidden;
  background-color: #FFEF9F;
}

.card-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 340px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: 0.5;
}

.card-title {
  position: relative;
  z-index: 2;
  height: 250px;
  font-family: 'Aclonica', sans-serif;
  text-transform: capitalize;
  margin: 0;
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

.card-image {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 400px;
  width: 250px;
  background-color: #eee;
  height: 125px;
}

.tab-container {
  position: relative;
  background-color: #8DC63F;
  min-height: 300px;
  padding: 16px;
  margin-top: -2px;
  z-index: 4;
  display: none;
  grid-column: span 3;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.05em;
}

.tab-container p:first-child {
  margin-top: 0;
}

.tab-container p:last-child {
  margin-bottom: 0;
}

.tabs {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 52px 0 0 rgba(0, 0, 0, 0.4) inset;
}

/* Cactus Info Card Section Ends */
/* Water, Sun, Care Section */
.tabs label {
  display: flex;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  justify-self: center;
  user-select: none;
  order: -1;
  font-size: 32px;
  padding: 8px;
  width: 70%;
  color: #fff;
}

.tabs .tab-water {
  color: #07a0c3;
}

.tabs .tab-sun {
  color: #f0c808;
}

.tabs .tab-heart {
  color: #dd1c1a;
}

/* Water, Sun, Care Section Ends */
/* Footer Drawer Section */
.tab-driver:checked+label {
  border-bottom: 4px solid #DF80B4;
}

.tab-driver:checked+label+.tab-container {
  display: block;
}

.drawer-content {
  display: grid;
  grid-template-columns: auto;
  justify-items: flex-start;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  padding: 16px;
  padding-top: 0;
}

/* Footer Drawer Section Ends */
/* Footer Section */
footer ul {
  margin-top: 0px;
}

footer {
  background: #FFEF9F;
  position: fixed;
  z-index: 200;
  top: 100%;
  left: 0;
  right: 0;
}

.drawer-handle {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 36px;
  padding: 8px;
  border-top: 2px solid #FFEECF;
}

/* drawer hack for the triangle tip */
.drawer-handle::before {
  /* --arrowsize is a css variable....now it controls both width and height */
  --arrowsize: 20px;
  content: " ";
  display: block;
  border-top: 2px solid #FFEECF;
  border-left: 2px solid #FFEECF;
  width: var(--arrowsize);
  height: var(--arrowsize);
  position: absolute;
  top: 0;
  transform: translateY(-50%) rotate(45deg);
  /* content hack makes it readable for browser */
}

/* this is the closed position of the drawer */
footer label {
  display: block;
  transform: translateY(-54px);
  /* the magic translateY number is height of drawer handle */
  /* negative value goes up in a Y axis */
  transition: transform 250ms ease;
}

footer input {
  display: none;
  /* this is turning off the checkbox visual */
}

/* + means to select sibling read it as "followed by" */
footer input:checked+label {
  transform: translateY(-100%);
  /* a transform is related to the element being moved...in this you're moving it up 100% of itself up the page */
  /* negative value moves up in a Y axis */
}

/* this is the open position of the drawer */
/* Footer Section Ends */
/* Media Quaries Section */
@media (min-width: 1200px) {
  #card-container {
    /* grid-template-columns: 500px 500px; */
    grid-template-columns: repeat(2, 500px);
  }

  section {
    padding: 32px;
  }

  .drawer-content {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .drawer-content li {
    list-style: none;
  }

  .welcome {
    font-size: 48px;
  }
}

@media (min-width: 1800px) {
  #card-container {
    grid-template-columns: repeat(3, 500px);
  }
}