.theme-dark {
  background-color: hsl(23, 46%, 8%);
  background-image: url("/images/cactus-pattern.png");
}

.theme-dark header {
  background-color: transparent;
}

.theme-dark .welcome {
  color: #DF80B4;
}

.theme-dark .about {
  color: #DF80B4;
  border-bottom-color: #DF80B4;
  background-color: hsl(23, 46%, 8%);
  box-shadow: 0 0 16px 0 hsl(23, 46%, 8%);
}

.theme-dark .theme-controls {
  background-color: hsl(23, 46%, 8%);
}

.theme-dark .social-links {
  background-color: hsl(23, 46%, 8%);
}

.theme-dark footer {
  color: #ffeecf;
}

.theme-dark .card {
  background-color: #412A17;
}

.theme-dark .card-title {
  color: #ffeecf;
  font-size: 40px;
  text-shadow: 4px 4px 4px black;
}

.theme-dark .tab-container {
  font-family: 'Montserrat', sans-serif;
  background-color: #412A17;
  color: #ffeecf;
  font-size: 16px;
}

.theme-dark .theme-controls input+*[data-icon] {
  color: #DF80B4;
}

.theme-dark .tabs .tab-water {
  color: hsl(191, 93%, 35%);
}

.theme-dark .tabs .tab-sun {
  color: hsl(50, 94%, 44%);
}

.theme-dark .tabs .tab-heart {
  color: hsl(1, 79%, 43%);
}

.theme-dark .card-header {
  opacity: .9;
}

/* Footer Section */
.theme-dark footer {
  background: #FFEF9F;
}

.theme-dark .drawer-handle {
  background-color: #412A17;
  color: #FFEECF;
  border-top-color: #FFEECF;
}

/* drawer hack for the triangle tip */
.theme-dark .drawer-handle::before {
  border-top-color: #FFEECF;
  border-left-color: #FFEECF;
  background-color: #412A17;
}

.theme-dark .drawer-content {
  background-color: #412A17;
}